body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAF1E4;
}

button {
    font-family: 'Poppins', sans-serif;
    width: 250px;
    height: 50px;
    font-size: 20px;
    background-color: #435334;
    color: white;
    border-radius: 5px;
}
button:hover {
    background-color: #343f28;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: row;
    border: 2px solid;
    border-color: #435334;
    border-radius: 3px;
    margin: 3px;
    margin-right: 35px;
}

img {
    border-radius: 5px;
}

#searchBtn {
    margin-bottom: 7px;
}

#savedRecipesBtn {
    position: absolute;
    top: 15px;
    right: 15px;
}

#searchDiv {
    background-color:#dad2c7;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
}

#websiteTitle {
    font-size: 50px;
}

#categoryTitle {
    padding-top: 50px;
    text-align: center;
}

#categoryDiv {
    background-color: #9EB384;
    border-radius: 5px;
    display: grid;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

#recipePageDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#titleAndImgDiv {
    background-color: #9EB384;
    border-radius: 5px;
    text-align: center;
}

#instructionAndBtnDiv {
    background-color: #9EB384;
    border-radius: 5px;
    margin-top: 100px;
    text-align: center;
}

#savedRecipesDiv{
    background-color: #9EB384;
}

h3{
    margin-top: 100px;
    margin-left: 30px;
}